@tailwind base;
@tailwind components;
@tailwind utilities;

#mobile-menu {
  transition: transform 0.5s ease-in-out;
}

#mobile-menu.-translate-x-full {
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
}

#mobile-menu.translate-x-0 {
  transform: translateX(0);
}


#home{
    background-image: url(../src/img/bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}